[user]
  email = bulavintsev.sergey@gmail.com
  name = Sergei Bulavintsev
  signingkey = 7C43420F61CEC7FB
[alias]
  st = status -sb
  lga = log --oneline --all --decorate --graph --color
  lg = log --pretty=lg
  glg = log --graph --pretty=lg
  slg = stash list --pretty=reflg
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[push]
  default = simple
[core]
    pager = bat
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[mergetool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[init]
	templatedir = ~/.git_template
[pull]
	rebase = false
[gpg]
	program = gpg
[commit]
  gpgsign = true
